// Section Footer

footer {
  background-color: black;
  color: white;
  min-height: 90px;
  padding: 30px 0;

  ul, ol {
    list-style: none;
    padding: 0;
  }

  .image-footer {
    width: 80px;
    height: 80px;
  }

  .contact {
    .headline {
      padding-bottom: 0.6em;
    }
    i {
      padding-right: 8px;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .logo .right {
    display: flex;
    justify-content: flex-end;
  }

  @include media-breakpoint-down(sm) {
    .xs-column {
      flex-direction: column;
    }
    .logo {
      display: none;
    }
    .contact {
      text-align: center;
    }
  }
}
