

// xs < 576px
// @include media-breakpoint-up(sm) {
//   ≥ 576px
// }
// @include media-breakpoint-up(md) {
//   ≥ 768px
// }
// @include media-breakpoint-up(lg) {
//   ≥ 992px
// }
// @include media-breakpoint-up(xl) {
//   ≥ 1200px
// }
// @include media-breakpoint-up(xxl) {
//   ≥ 1400px
// }

$sizes: 'xs','sm','md','lg','xl','xxl';

@each $size in $sizes {
  .#{$size}-hide {
    @include media-breakpoint-up($size) {
      display: none;
    }
  }
  .#{$size}-show {
    @include media-breakpoint-up($size) {
      display: block;
    }
  }
}
