// Shared Generic styles

.visually-hidden {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  padding: 60px 0;

  &.no-pad {
    padding: 0;
  }
}
