// Shared Sticky styles

.sticky-container {
  // @TODO - no special styles need to be added
}

.sticky-section {
  position: fixed;

  &-top-right {
    top: 0;
    right: 0;
  }

  &-bottom-right {
    bottom: 0;
    right: 0;
  }
}
